<a href="https://colab.research.google.com/github/ranjitrajkumar/docs/blob/main/python-crash-coursera_mod%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
print ("hello,world")

hello,world

In [4]:
# prompt:

print ("hello,world")

print (360)
print (16*2)
value = 2*8
print (value)

hello,world
360
32
16

In [1]:
print(3*8/2+5-1)

print(4**6)
print(4**2)
print(4**3)
print(4**0.5)
x = 4
y = 26
print(y**x)

16.0
4096
16
64
2.0
456976